:root {
  --color-primary-dark-blue: hsl(243, 87%, 12%);
  --color-primary-desaturated-blue: hsl(238, 22%, 44%);
  --color-accent-bright-blue: hsl(224, 93%, 58%);
  --color-accent-moderate-cyan: hsl(170, 45%, 43%);
  --color-neutral-grayish-blue: hsl(240, 75%, 98%);
  --color-neutral-light-gray: hsl(0, 0%, 75%);
  --font-family-headings-cta-header-nav: "Raleway", sans-serif;
  --font-weight-headings-cta-header-nav-400: 400;
  --font-weight-headings-cta-header-nav-700: 700;
  --font-family-body: "Open Sans", sans-serif;
  --font-weight-body: 400;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  padding: 1.5rem;
}
.header__logo {
  width: 50%;
}
.header__nav {
  flex: 1 1 70%;
}

.first {
  margin-bottom: 4rem;
  padding: 1.5rem;
}

.first-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.first-section__illustration-image {
  width: 100%;
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.second {
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 0;
  clip-path: ellipse(110% 70% at 50% 70%);
}

.second-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}
.second-section__illustration {
  padding-top: 2rem;
}
.second-section__illustration-image {
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.third {
  background-color: var(--color-primary-desaturated-blue);
  padding: 3rem 2.5rem;
}

.registration {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  background-color: var(--color-primary-dark-blue);
  padding: 4rem 2rem;
  color: #ffffff;
  font-family: var(--font-family-body);
}
footer .footer {
  display: flex;
  flex-direction: column;
}
footer .footer__logo {
  margin-bottom: 2rem;
}
footer .footer__logo * {
  fill: white;
}
footer .footer__contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
footer .footer__contact-info span {
  margin-right: 1rem;
}
footer .footer__nav {
  margin-bottom: 4rem;
}
footer .footer__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}
footer .footer__nav li:nth-child(4) {
  margin-bottom: 1.8rem;
}
footer .footer__nav li a {
  text-decoration: none;
  color: currentColor;
}
footer .footer__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
footer .footer__social-media .icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid white;
  border-radius: 100%;
  width: 15%;
  padding: 0.5rem;
}
footer .footer__social-media svg {
  fill: white;
  width: 1rem;
  height: 1rem;
}

.header__nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  font-size: 0.88rem;
  font-family: var(--font-family-headings-cta-header-nav);
}
.header__nav-links a {
  text-decoration: none;
}

.first-section__content-heading {
  font-family: var(--font-family-headings-cta-header-nav);
  font-weight: var(--font-weight-headings-cta-header-nav-700);
  line-height: 1.5;
  text-align: center;
  color: var(--color-primary-dark-blue);
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.first-section__content-description {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  line-height: 1.5;
  text-align: center;
  color: var(--color-primary-dark-blue);
  margin-bottom: 1.8rem;
}

.cta__input {
  padding: 0.8rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--color-primary-dark-blue);
  font-family: var(--font-family-headings-cta-header-nav);
  outline: none;
}

.btn {
  padding: 0.8rem 1rem;
  background-color: var(--color-accent-bright-blue);
  border: none;
  border-radius: 6px;
  color: var(--color-neutral-grayish-blue);
  font-family: var(--font-family-headings-cta-header-nav);
  font-weight: var(--font-weight-headings-cta-header-nav-700);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15);
  font-size: 0.88rem;
}

.second-section__content {
  text-align: center;
}
.second-section__content-heading {
  font-size: 1rem;
  font-family: var(--font-family-headings-cta-header-nav);
  font-weight: 700;
  color: var(--color-primary-dark-blue);
  margin-bottom: 1.5rem;
}
.second-section__content-text-1, .second-section__content-text-2 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
}
.second-section__content-text-1 {
  margin-bottom: 1rem;
}
.second-section__content-text-2 {
  margin-bottom: 2.5rem;
}
.second-section__content-see-how-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
  position: relative;
}
.second-section__content-see-how-container::after {
  content: "";
  width: 40%;
  height: 5%;
  position: absolute;
  background-color: var(--color-accent-moderate-cyan);
  top: 25px;
  right: 106px;
}
.second-section__content-see-how {
  color: var(--color-accent-moderate-cyan);
  font-family: var(--font-family-body);
  font-size: 0.8rem;
}
.second-section .see-how__icon-arrow {
  display: flex;
  align-items: center;
}

.testimonial {
  color: var(--color-primary-dark-blue);
  font-family: var(--font-family-body);
  box-shadow: 0 0 0 0 rgba(56, 56, 56, 0.0459);
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  text-align: start;
}
.testimonial__content {
  font-size: 0.65rem;
  margin-bottom: 1rem;
  line-height: 2;
  max-width: 40ch;
}

.profile__photo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile__name {
  font-size: 0.6rem;
  font-weight: bold;
}
.profile__title {
  font-size: 0.4rem;
}

.registration {
  color: #ffffff;
}
.registration__heading {
  font-family: var(--font-family-headings-cta-header-nav);
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}
.registration__content {
  font-family: var(--font-family-body);
  font-size: 0.89rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.registration-cta {
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.cta-registration__input {
  border: none;
  box-shadow: 1px 1px 0 0 rgba(7, 4, 59, 0.157);
}

.registration-btn {
  box-shadow: 1px 1px 0 0 rgba(7, 4, 59, 0.157);
}

/*# sourceMappingURL=style.css.map */
