:root {
  --color-primary-dark-blue: hsl(243, 87%, 12%);
  --color-primary-desaturated-blue: hsl(238, 22%, 44%);
  --color-accent-bright-blue: hsl(224, 93%, 58%);
  --color-accent-moderate-cyan: hsl(170, 45%, 43%);
  --color-neutral-grayish-blue: hsl(240, 75%, 98%);
  --color-neutral-light-gray: hsl(0, 0%, 75%);
  --font-family-headings-cta-header-nav: "Raleway", sans-serif;
  --font-weight-headings-cta-header-nav-400: 400;
  --font-weight-headings-cta-header-nav-700: 700;
  --font-family-body: "Open Sans", sans-serif;
  --font-weight-body: 400;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  padding: 1.5rem;
}
@media only screen and (min-width: 1440px) {
  .header {
    padding: 3.5rem;
  }
}
@media only screen and (min-width: 500px) {
  .header {
    justify-content: space-between;
    align-items: center;
  }
}
.header__logo {
  width: 50%;
}
@media only screen and (min-width: 1440px) {
  .header__logo {
    width: 100%;
  }
}
.header__nav {
  flex: 1 1 70%;
}
@media only screen and (min-width: 500px) {
  .header__nav {
    flex: 0 0 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .header__nav {
    flex: 0 0 25%;
  }
}

.first {
  margin-bottom: 4rem;
  padding: 1.5rem;
}
@media only screen and (min-width: 1440px) {
  .first {
    padding: 3.5rem;
  }
}

.first-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (min-width: 700px) {
  .first-section {
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 1440px) {
  .first-section {
    gap: 4rem;
    align-items: center;
  }
}
.first-section__illustration-image {
  width: 100%;
}
@media only screen and (min-width: 1440px) {
  .first-section .cta {
    flex-direction: row;
  }
  .first-section .cta__input {
    flex: 0 0 60%;
  }
  .first-section .btn {
    flex: 0 0 30%;
  }
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.second {
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 0;
  clip-path: ellipse(110% 70% at 50% 70%);
}
@media only screen and (min-width: 700px) {
  .second {
    padding-top: 2.5rem;
  }
}

.second-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}
@media only screen and (min-width: 700px) {
  .second-section {
    flex-direction: row-reverse;
    align-items: center;
  }
}
@media only screen and (min-width: 1440px) {
  .second-section {
    flex-direction: row-reverse;
    padding: 3rem;
    gap: 12rem;
  }
}
.second-section__illustration {
  padding-top: 2rem;
}
@media only screen and (min-width: 1440px) {
  .second-section__illustration {
    width: 50%;
  }
}
.second-section__illustration-image {
  width: 100%;
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.third {
  background-color: var(--color-primary-desaturated-blue);
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 700px) {
  .third {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}

.registration {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  .registration {
    flex: 0 0 50%;
    text-align: start;
  }
}
@media only screen and (min-width: 1440px) {
  .registration {
    margin-left: 5rem;
  }
}

footer {
  background-color: var(--color-primary-dark-blue);
  padding: 4rem 2rem;
  color: #ffffff;
  font-family: var(--font-family-body);
}
@media only screen and (min-width: 1440px) {
  footer {
    padding: 5rem;
  }
}
footer .footer {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 700px) {
  footer .footer {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }
}
@media only screen and (min-width: 700px) {
  footer .footer__info-container {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 700px) {
  footer .footer__logo {
    margin-bottom: 1rem;
  }
}
footer .footer__logo * {
  fill: white;
}
footer .footer__contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
footer .footer__contact-info span {
  margin-right: 1rem;
}
footer .footer__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}
@media only screen and (min-width: 700px) {
  footer .footer__nav ul {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  footer .footer__nav ul {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 2rem;
  }
}
@media only screen and (min-width: 1440px) {
  footer .footer__nav ul {
    padding: 4.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 12rem;
  }
}
footer .footer__nav li:nth-child(2) {
  grid-row: 2;
}
footer .footer__nav li:nth-child(3) {
  grid-row: 3;
}
footer .footer__nav li:nth-child(4) {
  grid-row: 4;
}
footer .footer__nav li:nth-child(4) {
  margin-bottom: 1.8rem;
}
@media only screen and (min-width: 700px) {
  footer .footer__nav li:nth-child(4) {
    margin-bottom: 0;
  }
}
footer .footer__nav li a {
  text-decoration: none;
  color: currentColor;
}
footer .footer__nav li a:hover {
  color: #6c9bff;
}
footer .footer__social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media only screen and (min-width: 1440px) {
  footer .footer__social-media {
    padding-right: 10rem;
  }
}
footer .footer__social-media .icon-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid white;
  border-radius: 100%;
  width: 3rem;
  padding: 0.5rem;
  height: 3rem;
}
footer .footer__social-media .icon-container:hover {
  border: 1px solid #6c9bff;
  fill: #6c9bff;
}
footer .footer__social-media svg {
  fill: white;
  width: 1rem;
  height: 1rem;
}
footer .footer__social-media svg:hover {
  fill: #6c9bff;
}

.header__nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family-headings-cta-header-nav);
}
@media only screen and (min-width: 1440px) {
  .header__nav-links {
    font-size: 1rem;
  }
}
.header__nav-links a {
  text-decoration: none;
}
.header__nav-links a:hover {
  color: #6c9bff;
}

.first-section__content-heading {
  font-family: var(--font-family-headings-cta-header-nav);
  font-weight: var(--font-weight-headings-cta-header-nav-700);
  line-height: 1.5;
  text-align: center;
  color: var(--color-primary-dark-blue);
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
@media only screen and (min-width: 1440px) {
  .first-section__content-heading {
    font-size: 2.5rem;
    text-align: start;
  }
}
.first-section__content-description {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
  line-height: 1.5;
  text-align: center;
  color: var(--color-primary-dark-blue);
  margin-bottom: 1.8rem;
}
@media only screen and (min-width: 1440px) {
  .first-section__content-description {
    font-size: 1.2rem;
    text-align: start;
  }
}

.cta__input {
  padding: 0.8rem 1rem;
  border-radius: 6px;
  border: 1px solid var(--color-primary-dark-blue);
  font-family: var(--font-family-headings-cta-header-nav);
  outline: none;
}

.btn {
  padding: 0.8rem 1rem;
  background-color: var(--color-accent-bright-blue);
  border: none;
  border-radius: 6px;
  color: var(--color-neutral-grayish-blue);
  font-family: var(--font-family-headings-cta-header-nav);
  font-weight: var(--font-weight-headings-cta-header-nav-700);
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-size: 0.88rem;
  cursor: pointer;
}
.btn:hover {
  background-color: #6c9bff;
}

.second-section__content {
  text-align: center;
}
@media only screen and (min-width: 1440px) {
  .second-section__content {
    text-align: start;
  }
}
.second-section__content-heading {
  font-size: 1rem;
  font-family: var(--font-family-headings-cta-header-nav);
  font-weight: 700;
  color: var(--color-primary-dark-blue);
  margin-bottom: 1.5rem;
}
@media only screen and (min-width: 1440px) {
  .second-section__content-heading {
    font-size: 2.5rem;
  }
}
.second-section__content-text-1, .second-section__content-text-2 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-body);
}
@media only screen and (min-width: 1440px) {
  .second-section__content-text-1, .second-section__content-text-2 {
    width: 55ch;
  }
}
.second-section__content-text-1 {
  margin-bottom: 1rem;
}
.second-section__content-text-2 {
  margin-bottom: 2.5rem;
}
.second-section__content-see-how-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
  position: relative;
}
@media only screen and (min-width: 1440px) {
  .second-section__content-see-how-container {
    justify-content: flex-start;
  }
}
.second-section__content-see-how-container::after {
  content: "";
  width: 41.7%;
  height: 5%;
  position: absolute;
  background-color: var(--color-accent-moderate-cyan);
  top: 28px;
  right: 30%;
}
@media only screen and (min-width: 500px) {
  .second-section__content-see-how-container::after {
    right: 35%;
    width: 30.6%;
  }
}
@media only screen and (min-width: 700px) {
  .second-section__content-see-how-container::after {
    right: 26.8%;
    width: 48.6%;
  }
}
@media only screen and (min-width: 1024px) {
  .second-section__content-see-how-container::after {
    right: 34%;
    width: 32.7%;
  }
}
@media only screen and (min-width: 1440px) {
  .second-section__content-see-how-container::after {
    right: 74.2%;
    width: 25.7%;
  }
}
.second-section__content-see-how {
  color: var(--color-accent-moderate-cyan);
  font-family: var(--font-family-body);
  font-size: 0.8rem;
}
@media only screen and (min-width: 1440px) {
  .second-section__content-see-how {
    font-size: 1rem;
  }
}
.second-section .see-how__icon-arrow {
  display: flex;
  align-items: center;
}

.testimonial {
  color: var(--color-primary-dark-blue);
  font-family: var(--font-family-body);
  box-shadow: 0 0 0 0 rgba(56, 56, 56, 0.0459);
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  text-align: start;
  width: max-content;
}
.testimonial__content {
  font-size: 0.65rem;
  margin-bottom: 1rem;
  line-height: 2;
  max-width: 40ch;
}

.profile__photo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile__name {
  font-size: 0.6rem;
  font-weight: bold;
}
.profile__title {
  font-size: 0.4rem;
}

.registration {
  color: #ffffff;
}
.registration__heading {
  font-family: var(--font-family-headings-cta-header-nav);
  margin-top: 2rem;
  margin-bottom: 1.8rem;
}
.registration__content {
  font-family: var(--font-family-body);
  font-size: 0.89rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 1440px) {
  .registration__content {
    width: 66.8ch;
    font-size: 1rem;
  }
}

.registration-cta {
  gap: 0.8rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 700px) {
  .registration-cta {
    flex: 1;
  }
}

.cta-registration__input {
  border: none;
  box-shadow: 1px 1px 0 0 rgba(7, 4, 59, 0.157);
  margin-bottom: 0.8rem;
}
@media only screen and (min-width: 1440px) {
  .cta-registration__input {
    width: 80%;
  }
}

.registration-btn {
  box-shadow: 1px 1px 0 0 rgba(7, 4, 59, 0.157);
}
@media only screen and (min-width: 1440px) {
  .registration-btn {
    width: 35%;
  }
}

/*# sourceMappingURL=style.css.map */
