@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
header .fylo-nav__links {
  display: flex;
  gap: 5rem;
  padding-right: 2rem;
}

.fylo-container {
  display: flex;
  padding: 3rem 3rem 10rem 3rem;
}
.fylo-container__illustration {
  display: flex;
  justify-content: center;
  width: 50%;
}
.fylo-container__illustration img {
  width: 100%;
}

.second {
  background-color: hsl(240deg, 75%, 98%);
  clip-path: ellipse(90% 70% at 50% 70%);
  padding: 10rem 3rem 10rem 3rem;
}

.fylo-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 6rem;
  width: 50%;
}
.fylo-intro__heading {
  margin-bottom: 1rem;
}
.fylo-intro__content {
  margin-bottom: 2rem;
}

.fylo-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.fylo-features__heading {
  margin-bottom: 1rem;
}
.fylo-features__content {
  margin-bottom: 1rem;
}
.fylo-features__content-1 {
  margin-bottom: 1rem;
}

.fylo-testimonials {
  display: flex;
  flex-direction: column;
  color: hsl(243deg, 87%, 12%);
  margin: 2rem 0 0 0;
}

.fylo-intro__cta {
  display: flex;
  gap: 0.5rem;
}
.fylo-intro__cta-input {
  padding: 1rem 3rem 0.7rem 1rem;
  outline: none;
  flex: 0 0 50%;
}
.fylo-intro__cta-button {
  background-color: hsl(224deg, 93%, 58%);
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0 6rem;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.fylo-features__content-link a {
  color: hsl(170deg, 45%, 43%);
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.fylo-features__content-link a::after {
  content: "";
  background-color: hsl(170deg, 45%, 43%);
  width: 100%;
  position: absolute;
  height: 1px;
  top: 25px;
  right: 0;
}

.fylo-testimonials {
  background-color: hsl(240deg, 75%, 98%);
  box-shadow: -1px 1px 14px rgba(0, 0, 0, 0.1);
  max-width: 35rem;
  padding: 1rem 1rem;
  border-radius: 8px;
}
.fylo-testimonials blockquote {
  margin-bottom: 1rem;
}
.fylo-testimonials__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.fylo-testimonials__profile img {
  width: auto;
  border-radius: 50%;
  height: 3rem;
}
.fylo-testimonials__profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.fylo-nav__links a {
  font-family: "Raleway", sans-serif;
  color: hsl(243deg, 87%, 12%);
}

.fylo-intro__heading {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  color: hsl(243deg, 87%, 12%);
}

.fylo-intro__content {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

.fylo-intro__cta-input {
  font-family: "Raleway", sans-serif;
}
.fylo-intro__cta-button {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
}

.fylo-features__heading {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  color: hsl(243deg, 87%, 12%);
}
.fylo-features__content p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  max-width: 60ch;
}

.fylo-testimonials blockquote {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  line-height: 2;
}
.fylo-testimonials__profile-info {
  font-family: "Raleway", sans-serif;
}
.fylo-testimonials__profile-info-name {
  font-size: 1rem;
  font-weight: 700;
}
.fylo-testimonials__profile-info-position {
  font-size: 0.8rem;
}

/*# sourceMappingURL=styles.css.map */
