.fylo-intro__cta {
  display: flex;
  gap: 0.5rem;

  &-input {
    padding: 1rem 3rem 0.7rem 1rem;
    outline: none;
    flex: 0 0 50%;
  }

  &-button {
    background-color: $accent-color-1;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0 6rem;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
}
