header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;

  .fylo-nav__links {
    display: flex;
    gap: 5rem;
    padding-right: 2rem;
  }
}

.fylo-container {
  display: flex;
  padding: 3rem 3rem 10rem 3rem;
  // gap: 5rem;

  .fylo-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6rem;
    flex: 1;

    &__heading {
      margin-bottom: 1rem;
    }

    &__content {
      margin-bottom: 2rem;
    }
  }

  &__illustration {
    display: flex;
    justify-content: center;

    img {
      width: 70%;
    }
  }
}
