.header {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  padding: 1.5rem;

  @media only screen and (min-width: $bp-large) {
    padding: 2.5rem;
  }

  @media only screen and (min-width: $bp-smallest) {
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 50%;

    @media only screen and (min-width: $bp-large) {
      width: 100%;
    }
  }

  &__nav {
    flex: 1 1 70%;

    @media only screen and (min-width: $bp-smallest) {
      flex: 0 0 40%;
    }

    @media only screen and (min-width: $bp-medium) {
      flex: 0 0 25%;
    }
  }
}

.first {
  margin-bottom: 4rem;
  padding: 1.5rem;

  @media only screen and (min-width: $bp-large) {
    padding: 2.5rem;
  }
}

.first-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media only screen and (min-width: $bp-small) {
    flex-direction: row-reverse;
  }
  @media only screen and (min-width: $bp-large) {
    gap: 4rem;
    align-items: center;
  }

  &__illustration-image {
    width: 100%;
  }

  @media only screen and (min-width: $bp-large) {
    .cta {
      flex-direction: row;

      &__input {
        flex: 0 0 60%;
      }
    }

    .btn {
      flex: 0 0 30%;
    }
  }
}

.cta {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.second {
  background-image: url('../images/bg-curve-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 0;
  clip-path: ellipse(110% 70% at 50% 70%);

  @media only screen and (min-width: $bp-small) {
    padding-top: 2.5rem;
  }
}

.second-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;

  @media only screen and (min-width: $bp-small) {
    flex-direction: row-reverse;
    align-items: center;
  }
  @media only screen and (min-width: $bp-large) {
    flex-direction: row-reverse;
    padding: 3rem;
    gap: 12rem;
  }

  &__illustration {
    padding-top: 2rem;

    @media only screen and (min-width: $bp-large) {
      width: 50%;
    }
  }

  &__illustration-image {
    width: 100%;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.third {
  background-color: var(--color-primary-desaturated-blue);
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: $bp-small) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}

.registration {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media only screen and (min-width: $bp-small) {
    flex: 0 0 50%;
    text-align: start;
  }
  @media only screen and (min-width: $bp-large) {
    margin-left: 5rem;
  }
}

footer {
  background-color: var(--color-primary-dark-blue);
  padding: 4rem 2rem;
  color: #ffffff;
  font-family: var(--font-family-body);
  @media only screen and (min-width: $bp-large) {
    padding: 5rem;
  }

  .footer {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $bp-small) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      gap: 4rem;
    }

    &__info-container {
      @media only screen and (min-width: $bp-small) {
        display: flex;
        flex-direction: column;
      }
    }

    &__logo {
      @media only screen and (min-width: $bp-small) {
        margin-bottom: 1rem;
      }

      * {
        fill: #ffff;
      }
    }

    &__contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      span {
        margin-right: 1rem;
      }
    }

    &__nav {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2rem;

        @media only screen and (min-width: $bp-small) {
          grid-template-columns: 1fr 1fr;
          gap: 1.5rem;
        }

        @media only screen and (min-width: $bp-medium) {
          grid-template-columns: 1fr 1fr 1fr;
          row-gap: 1.5rem;
          column-gap: 2rem;
        }

        @media only screen and (min-width: $bp-large) {
          padding: 4.5rem;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          column-gap: 12rem;
        }
      }

      li:nth-child(2) {
        grid-row: 2;
      }
      li:nth-child(3) {
        grid-row: 3;
      }
      li:nth-child(4) {
        grid-row: 4;
      }

      li:nth-child(4) {
        margin-bottom: 1.8rem;

        @media only screen and (min-width: $bp-small) {
          margin-bottom: 0;
        }
      }

      li a {
        text-decoration: none;
        color: currentColor;

        &:hover {
          color: #6c9bff;
        }
      }
    }

    &__social-media {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      @media only screen and (min-width: $bp-large) {
        padding-right: 10rem;
      }

      .icon-container {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border: 1px solid white;
        border-radius: 100%;
        width: 3rem;
        padding: 0.5rem;
        height: 3rem;

        &:hover {
          border: 1px solid #6c9bff;
          fill: #6c9bff;
        }
      }

      svg {
        fill: #ffff;
        width: 1rem;
        height: 1rem;

        &:hover {
          fill: #6c9bff;
        }
      }
    }
  }
}
