.fylo-nav__links {
  a {
    font-family: $font-stack-heading;
    color: $prmry-color-1;
  }
}

.fylo-intro__heading {
  font-family: $font-stack-heading;
  font-size: 2.5rem;
  color: $prmry-color-1;
}

.fylo-intro__content {
  font-family: $font-stack-body;
  line-height: 1.5;
}

.fylo-intro__cta {
  &-input {
    font-family: $font-stack-heading;
  }

  &-button {
    font-family: $font-stack-heading;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

.fylo-features {
  &__heading {
    font-family: $font-stack-heading;
    font-size: 2.5rem;
    color: $prmry-color-1;
  }

  &__content {
    p {
      font-family: $font-stack-body;
      line-height: 1.5;
      max-width: 60ch;
    }
  }
}

.fylo-testimonials {
  blockquote {
    font-family: $font-stack-body;
    font-size: 0.8rem;
    line-height: 2;
  }

  &__profile-info {
    font-family: $font-stack-heading;

    &-name {
      font-size: 1rem;
      font-weight: 700;
    }

    &-position {
      font-size: 0.8rem;
    }
  }
}

.fylo-registration {
  &__heading {
    font-family: $font-stack-heading;
    font-size: 2.5rem;
    color: $neu-color-1;
  }
  &__content {
    font-family: $font-stack-body;
    line-height: 1.5;
    color: $neu-color-1;
  }
}

footer {
  color: #ffff;
  font-family: $font-stack-body;
}
