.fylo-nav__links {
  font-family: $font-stack-heading;
  color: $prmry-color-2;
  a {
    text-decoration: none;
  }
}

.fylo-main__registration {
  input {
    font-family: $font-stack-heading;
  }
}
